<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../public/stylesheets.css">

        <title>KomLink - Web Panel</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://kit.fontawesome.com/faa656be40.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-white">
        <%- include('partials/headers'); %>
        <main class="p-10">
            Loreum Ipseum
        </main>
    </body>
</html>